label {
  display: block;
  margin-bottom: 8px;
}

.selectContainer {
  align-items: center;
  background-color: rgb(255 255 255);
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
}

.selectContainer select {
  cursor: pointer;
  padding-right: 2rem;
}

.selectContainer img {
  pointer-events: none;
  position: absolute;
  right: 0.5rem;
}
