.container {
  /* align-items: flex-end; */
  /* display: flex; */
}

.controls {
  display: flex;
  flex-wrap: wrap;
}

.control {
  flex: 1;
}

.fieldContainer {
  --color-bg-alpha: 0.4;
  --color-border: black;
  --color-shadow: transparent;
  --color-bg: rgba(255, 255, 255, var(--color-bg-alpha));
  /* background-color: var(--color-bg); */
  /* border: 1px solid var(--color-border); */
  /* border-radius: 6px; */
  /* box-shadow: 0 0 0 2px var(--color-shadow); */
  display: grid;
  overflow: hidden;
}

.fieldContainer:focus-within {
}

.fieldContainer input:focus {
  outline: none;
}

.colorFieldContainer {
  --input-size: 1.875rem;
  grid-template-columns: var(--input-size) 1fr;
}

.colorInputContainer {
  display: grid;
  place-items: center;
  position: relative;
}

.colorInputContainer input {
  appearance: none;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  height: var(--input-size);
  width: var(--input-size);
}

.colorInputVisual {
  border-radius: calc(var(--input-size) / 2);
  height: var(--input-size);
  position: absolute;
  width: var(--input-size);
}

.percentFieldContainer {
}

.percentInputContainer {
}

.percentInput {
  border-radius: 0;
  width: 100%;
}
