.container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.control {
  flex: 1;
}

.fieldContainer input:focus {
  outline: none;
}

.colorFieldContainer {
  --input-size: 1.875rem;
  align-items: center;
  display: flex;
}

.colorInputContainer {
  margin-right: 0.25rem;
  position: relative;
}

.colorInputContainer input {
  appearance: none;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  padding: 0;
  height: var(--input-size);
  width: var(--input-size);
}

.colorInputVisual {
  border-radius: calc(var(--input-size) / 2);
  height: var(--input-size);
  position: absolute;
  width: var(--input-size);
}
