.container {
  /* align-items: flex-end; */
  /* display: flex; */
}

.controls {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 0.625rem; */
  /* padding: 1.25rem; */
}

.control {
  flex: 1;
}

.fieldContainer {
  --color-bg-alpha: 0.4;
  --color-border: black;
  --color-shadow: transparent;
  --color-bg: rgba(255, 255, 255, var(--color-bg-alpha));
  /* background-color: var(--color-bg); */
  /* border: 1px solid var(--color-border); */
  /* border-radius: 6px; */
  /* box-shadow: 0 0 0 2px var(--color-shadow); */
  display: grid;
  overflow: hidden;
}

.fieldContainer:focus-within {
  --color-bg-alpha: 1;
  --color-shadow: var(--color-border);
}

.fieldContainer input:focus {
  outline: none;
}

.colorFieldContainer {
  grid-template-columns: 2.375rem 1fr;
}

.colorInputContainer {
  display: grid;
  place-items: center;
  position: relative;
}

.colorInputContainer input {
  appearance: none;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.colorInputVisual {
  --size: 1.875rem;
  background-color: red;
  border-radius: calc(var(--size) / 2);
  height: var(--size);
  position: absolute;
  width: var(--size);
}

.colorTextInput {
  /* text-transform: uppercase; */
}

.percentFieldContainer {
  background-color: transparent;
  grid-template-columns: 5rem 1fr;
}

.percentInputContainer {
  /* background-color: var(--color-bg); */
  /* border-right: 1px solid black; */
}

.percentInput {
  border-radius: 0;
  width: 100%;
}
