---
import Base from "@layouts/Base.astro";
import Banner from "@components/Banner.astro";
import ColorOutput from "@components/ColorOutput";
---

<style>
  main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
</style>

<Base>
  <main>
    <Banner />
    <ColorOutput client:visible />
  </main>
</Base>
