---
import Base from "@layouts/Base.astro";
import Banner from "@components/Banner.astro";
import ColorInput from "@components/ColorInput.tsx";
import ColorOutput from "@components/ColorOutput.tsx";
---

<style>
  main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .inputs-container {
    display: flex;
    flex-direction: column;
    flex: 0.75;
  }

  @media (min-width: 900px) {
    main {
      flex-direction: row;
    }
  }
</style>

<Base>
  <Banner />
  <main>
    <div class="inputs-container">
      <ColorInput position={1} client:visible />
      <ColorInput position={2} client:visible />
    </div>
    <ColorOutput client:visible />
  </main>
</Base>