.noSupport {
  background-color: #ffd000;
  background-image: repeating-linear-gradient(
    -50deg,
    transparent,
    transparent 40px,
    hsla(0, 0%, 100%, 0.15) 0,
    hsla(0, 0%, 100%, 0.15) 80px
  );
  border: 1px solid #000;
  border-radius: 6px;
  left: 1.25rem;
  padding: 1.25rem;
  position: absolute;
  top: 1.25rem;
  width: calc(100% - 2.5rem);
}

@supports (background: color-mix(in lab, #fff, #000)) {
  .noSupport {
    display: none;
  }
}
