---
import ColorInput from "@components/ColorInput";
import Logo from "./Logo.astro";
import { Icon } from "astro-icon";
---

<style>
  header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem 1rem;
    row-gap: 1rem;
  }

  h1 {
    display: flex;
    flex: 1;
    margin: 0;
    max-width: 200px;
  }

  .inputs {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    max-width: fit-content;
  }

  [astro-icon] {
    height: 30px;
    width: 30px;
  }

  [astro-icon="switch-access-shortcut"] {
    transform: translate(-2.5rem, 0.1rem) rotate(-45deg) scaleX(-1);
  }
</style>

<header>
  <h1>
    <Logo />
  </h1>

  <div class="inputs">
    <ColorInput position={1} client:visible />
    <Icon pack="mdi" name="add" />
    <ColorInput position={2} client:visible />
    <Icon name="switch-access-shortcut" />
  </div>
</header>
