---
import ColorInput from "@components/ColorInput";
---

<style>
  h1 {
    margin: 0;
  }
</style>

<header role="banner">
  <h1>Colormix</h1>

  <div class="inputs-container">
    <ColorInput position={1} client:visible />
    <ColorInput position={2} client:visible />
  </div>
</header>
