* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  --bg-size: 16px;
  --bg-size-half: calc(var(--bg-size) / 2);
  --bg-color-light: #eceff1;
  --bg-color-dark: #ccc;
  background-color: var(--bg-color-light);
  background-size: var(--bg-size) var(--bg-size);
  background-position: var(--bg-size-half) var(--bg-size-half),
    calc(var(--bg-size-half) * -1) 0, 0 0, 0 var(--bg-size-half);
  background-image: linear-gradient(
      45deg,
      var(--bg-color-dark) 25%,
      transparent 25%
    ),
    linear-gradient(-45deg, var(--bg-color-dark) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--bg-color-dark) 75%),
    linear-gradient(-45deg, transparent 75%, var(--bg-color-dark) 75%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

[type="text"],
[type="number"] {
  --color-bg-alpha: 0.35;
  appearance: none;
  background-color: rgba(255, 255, 255, var(--color-bg-alpha));
  border: 1px solid black;
  border-radius: 6px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 1.125rem;
  padding: 0.5rem;
}

[type="text"]:focus,
[type="number"]:focus {
  --color-bg-alpha: 1;
}
