.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0.625rem;
}

.colorPreviewContainer {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex: 1;
}

.colorPreview {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  padding: 1rem;
}

.spaceSelect {
  width: 100%;
}

.snippetDisplay {
  display: block;
  font-size: 1.25rem;
  padding: 0.5em;
  width: 100%;
}

.snippetContainer {
  padding: 0.5rem 0;
}
