.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.colorPreview {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.spaceSelect {
  width: 100%;
}

.input {
  background-color: transparent;
  display: block;
  font-size: 1.125rem;
  margin: 0 auto;
  width: 100%;
}

.input:focus {
  --color-bg-alpha: 1;
  --color-shadow: var(--color-border);
  outline: none;
}
