.container {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 1.25rem;
  position: relative;
}

.noSupport {
  background-color: #ffd000;
  background-image: repeating-linear-gradient(
    -50deg,
    transparent,
    transparent 40px,
    hsla(0, 0%, 100%, 0.15) 0,
    hsla(0, 0%, 100%, 0.15) 80px
  );
  left: 0;
  padding: 1.25rem;
  position: absolute;
  top: 0;
  width: 100%;
}

@supports (background: color-mix(in lab, #fff, #000)) {
  .noSupport {
    display: none;
  }
}

.spaceSelect {
  width: 100%;
}

.input {
  display: block;
  font-size: 1.375rem;
  margin: 0 auto;
  max-width: 50ch;
  text-align: center;
  width: 100%;
}
